*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #f9f7f6;
  background-color: #16161a;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  grid-template-columns: [sidebar-start] 28rem [sidebar-end full-start] minmax(8rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(8rem, 1fr) [full-end];
  grid-row-gap: 5rem;
  grid-column-gap: 5rem; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: min-content min-content 1fr min-content min-content;
      grid-template-columns: [full-start] minmax(8rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(8rem, 1fr) [full-end];
      grid-row-gap: 1rem;
      grid-column-gap: 1rem; } }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1/-1;
  display: grid;
  justify-items: center;
  align-content: start;
  row-gap: 8rem;
  background-color: #1d1e21;
  padding: 3.5rem; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1/-1;
      justify-content: stretch;
      align-items: center;
      row-gap: 2rem; } }
  .sidebar__logo {
    height: 5rem; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__logo {
        margin-top: 7rem; } }
  .sidebar__items {
    list-style: none; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__items {
        display: flex; } }
    @media only screen and (max-width: 62.5em) {
      .sidebar__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; } }
  .sidebar__item {
    transition: all 0.5s; }
  .sidebar__item:not(:last-child) {
    margin-bottom: 1.2rem; }
  .sidebar__link {
    text-decoration: none;
    color: #aaa;
    font-size: 1.4rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 5px; }
    .sidebar__link--active {
      background-color: #4a84c1;
      color: white;
      font-weight: 600;
      font-family: inherit; }
  .sidebar__item:hover {
    background-color: #4a84c1;
    color: white;
    border-radius: 5px; }
  .sidebar__text {
    line-height: 1;
    height: 1rem;
    display: block; }
  .sidebar__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
  .sidebar__copyrights {
    color: #aaa; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__copyrights {
        display: none; } }

.continue {
  grid-column: full-start/full-end;
  margin: 0 6rem; }
  .continue .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    overflow: hidden;
    grid-column-gap: 7rem; }
    .continue .cards__card {
      transition: all 0.5s;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative; }
      .continue .cards__card__title {
        text-align: center;
        font-size: 2rem;
        background-color: #c20028;
        padding: 1rem 3rem;
        border-radius: 3px;
        opacity: 1;
        transition: all 0.5s;
        width: 100%;
        margin-top: -3.1rem; }
      .continue .cards__card__img {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        transition: all 0.5s; }
      .continue .cards__card__icons {
        order: -1;
        z-index: 1;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden; }
      .continue .cards__card__single-icon {
        height: 2rem;
        width: 2rem;
        fill: white;
        cursor: pointer; }
      .continue .cards__card__single-icon:not(:last-child) {
        margin-right: 6rem; }
      .continue .cards__card__timer {
        font-size: 1.2rem; }
      .continue .cards__card__progress {
        transform: translateY(-3rem);
        width: 100%;
        display: flex;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start; }
      .continue .cards__card:hover {
        transform: scale(1.05); }
      .continue .cards__card:hover .cards__card__icons {
        opacity: 1;
        transform: translateY(5rem);
        visibility: visible; }
      .continue .cards__card:hover .cards__card__title {
        opacity: 1;
        position: static; }

.header {
  grid-column: center-start / center-end;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 6rem) minmax(min-content, 6rem) min-content;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-template-columns: max-content max-content max-content max-content;
      grid-column: 1/-1;
      margin-bottom: 2rem;
      padding: 2rem; } }
  @media only screen and (max-width: 62.5em) {
    .header {
      display: none; } }
  .header__input {
    padding: 1rem;
    background-color: #1d1e21;
    color: #aaa;
    outline: none;
    border: none;
    font-family: inherit;
    margin-right: -6.5rem; }
  .header__input-btn {
    border: none;
    background-color: transparent;
    border: none;
    outline: none;
    transform: translateY(0);
    transition: all 0.2s; }
    .header__input-btn:active {
      transform: translateY(2px); }
  .header__icon {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    fill: #aaa; }
  .header__btn {
    padding: 0.8rem 2rem;
    background-color: #1d1e21;
    color: white;
    outline: none;
    border: none; }
    .header__btn--2 {
      background-color: #4a84c1; }

.popular {
  grid-column: full-start/full-end;
  margin: 0 6rem; }
  .popular .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    overflow: hidden;
    grid-column-gap: 7rem; }
    .popular .cards__card {
      transition: all 0.5s;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative; }
      .popular .cards__card__title {
        text-align: center;
        font-size: 2rem;
        background-color: #c20028;
        padding: 1rem 3rem;
        border-radius: 3px;
        opacity: 1;
        transition: all 0.5s;
        width: 100%;
        margin-top: -3.1rem; }
      .popular .cards__card__img {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        transition: all 0.5s; }
      .popular .cards__card__icons {
        order: -1;
        z-index: 1;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden; }
      .popular .cards__card__single-icon {
        height: 2rem;
        width: 2rem;
        fill: white;
        cursor: pointer; }
      .popular .cards__card__single-icon:not(:last-child) {
        margin-right: 6rem; }
      .popular .cards__card__timer {
        font-size: 1.2rem; }
      .popular .cards__card__progress {
        transform: translateY(-3rem);
        width: 100%;
        display: flex;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start; }
      .popular .cards__card:hover {
        transform: scale(1.05); }
      .popular .cards__card:hover .cards__card__icons {
        opacity: 1;
        transform: translateY(5rem);
        visibility: visible; }
      .popular .cards__card:hover .cards__card__title {
        opacity: 1;
        position: static; }

.thrillers {
  grid-column: full-start/full-end;
  background-color: salmon; }

.featured {
  grid-column: center-start / center-end;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(16, 29, 44, 0.93)), url("../img/deadpool2.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  padding: 6rem 4rem; }
  @media only screen and (max-width: 62.5em) {
    .featured {
      grid-column: full-start / full-end; } }
  .featured__left {
    padding: 2rem; }
    .featured__left * {
      margin-bottom: 1rem; }
  .featured .heading {
    font-size: 2.5rem;
    font-family: "Josefin Sans", sans-serif; }
  .featured__paragraph {
    font-size: 1.5rem;
    color: white; }
  .featured__readmore {
    margin-top: 1rem;
    color: white;
    padding: 0.5rem 2.5rem;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #6e6e6e;
    text-transform: uppercase;
    transition: all 0.2s; }
    .featured__readmore:hover {
      background-color: #d7171f;
      border: none; }
  .featured__play {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(1); }
    .featured__play:hover {
      animation: topDown 1s infinite; }

@keyframes topDown {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
  .featured__icon {
    height: 4rem;
    width: 4rem;
    fill: white; }
  .featured__right-icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
  .featured__single-icon {
    height: 2rem;
    width: 2rem;
    fill: white;
    margin: 8px; }

.line--10 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000; }
  .line--10--progress {
    width: 10%;
    height: 2px;
    background-color: red;
    position: absolute; }
  .line--10--total {
    width: 100%;
    height: 2px;
    background-color: white; }

.line--20 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000; }
  .line--20--progress {
    width: 20%;
    height: 2px;
    background-color: red;
    position: absolute; }
  .line--20--total {
    width: 100%;
    height: 2px;
    background-color: white; }

.line--30 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000; }
  .line--30--progress {
    width: 30%;
    height: 2px;
    background-color: red;
    position: absolute; }
  .line--30--total {
    width: 100%;
    height: 2px;
    background-color: white; }

.line--40 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000; }
  .line--40--progress {
    width: 40%;
    height: 2px;
    background-color: red;
    position: absolute; }
  .line--40--total {
    width: 100%;
    height: 2px;
    background-color: white; }

.line--50 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000; }
  .line--50--progress {
    width: 50%;
    height: 2px;
    background-color: red;
    position: absolute; }
  .line--50--total {
    width: 100%;
    height: 2px;
    background-color: white; }

.line--60 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000; }
  .line--60--progress {
    width: 60%;
    height: 2px;
    background-color: red;
    position: absolute; }
  .line--60--total {
    width: 100%;
    height: 2px;
    background-color: white; }

.line--70 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000; }
  .line--70--progress {
    width: 70%;
    height: 2px;
    background-color: red;
    position: absolute; }
  .line--70--total {
    width: 100%;
    height: 2px;
    background-color: white; }

.line--80 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000; }
  .line--80--progress {
    width: 80%;
    height: 2px;
    background-color: red;
    position: absolute; }
  .line--80--total {
    width: 100%;
    height: 2px;
    background-color: white; }

.line--90 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000; }
  .line--90--progress {
    width: 90%;
    height: 2px;
    background-color: red;
    position: absolute; }
  .line--90--total {
    width: 100%;
    height: 2px;
    background-color: white; }

.line--100 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000; }
  .line--100--progress {
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute; }
  .line--100--total {
    width: 100%;
    height: 2px;
    background-color: white; }

.heading-2 {
  font-size: 2.5rem; }
