.continue {
    grid-column: full-start/full-end;
    margin: 0 6rem;

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        overflow: hidden;
        grid-column-gap: 7rem;

        &__card {
            transition: all 0.5s;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &__title {
                text-align: center;
                font-size: 2rem;
                background-color: $color-red;
                padding: 1rem 3rem;
                //  transform: translateY(-1rem);
                border-radius: 3px;
                // visibility: hidden;
                opacity: 1;
                transition: all 0.5s;
                width: 100%;
                margin-top: -3.1rem;
            }
            &__img {
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border-radius: 3px;
                overflow: hidden;
                transition: all 0.5s;
            }
            &__icons {
                order: -1;
                z-index: 1;
                transition: all 0.5s;
                opacity: 0;
                visibility: hidden;
            }

            &__single-icon {
                height: 2rem;
                width: 2rem;
                fill: white;
                cursor: pointer;
            }
            &__single-icon:not(:last-child) {
                margin-right: 6rem;
            }
            &__timer {
                font-size: 1.2rem;
            }
            &__progress {
                transform: translateY(-3rem);
                width: 100%;
                display: flex;
                padding: 0.5rem;
                flex-direction: column;
                justify-content: start;
                align-items: flex-start;
            }

            &:hover {
                transform: scale(1.05);
            }
            &:hover .cards__card__icons {
                opacity: 1;
                transform: translateY(5rem);
                visibility: visible;
            }
            &:hover .cards__card__title {
                opacity: 1;
                position: static;

                //visibility: visible;
            }
            &:hover .cards__card__img {
            }
        }
    }
}
