.featured {
    grid-column: center-start / center-end;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(16, 29, 44, 0.93)), url("../img/deadpool2.jpg");
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    padding: 6rem 4rem;

    @media only screen and (max-width: $bp-large) {
        grid-column: full-start / full-end;
    }
    &__left {
        padding: 2rem;
        & * {
            margin-bottom: 1rem;
        }
    }

    .heading {
        font-size: 2.5rem;
        font-family: $font-display;
    }
    &__paragraph {
        font-size: 1.5rem;
        color: white;
    }
    &__readmore {
        margin-top: 1rem;
        color: white;
        padding: 0.5rem 2.5rem;
        border-radius: 2px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #6e6e6e;
        //  border: 1px solid white;
        text-transform: uppercase;
        transition: all 0.2s;

        &:hover {
            background-color: #d7171f;
            border: none;
        }
    }

    &__play {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        transform: scale(1);

        &:hover {
            animation: topDown 1s infinite;
        }
    }

    @keyframes topDown {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
    &__icon {
        height: 4rem;
        width: 4rem;
        fill: white;
    }
    &__right {
    }
    &__right-icons {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    &__single-icon {
        height: 2rem;
        width: 2rem;
        fill: white;
        margin: 8px;
    }
}
