@mixin lineOfProgress($progress) {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10000;
    &--progress {
        width: $progress;
        height: 2px;
        background-color: red;
        position: absolute;
    }
    &--total {
        width: 100%;
        height: 2px;
        background-color: rgb(255, 255, 255);
    }
}
