.sidebar {
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1/-1;
    display: grid;
    justify-items: center;
    align-content: start;
    row-gap: 8rem;
    background-color: $color-black-light-1;
    // background-color: orangered;
    padding: 3.5rem;

    @media only screen and (max-width: $bp-large) {
        grid-column: 1/-1;

        justify-content: stretch;
        align-items: center;
        row-gap: 2rem;
    }

    &__logo {
        height: 5rem;

        @media only screen and (max-width: $bp-large) {
            margin-top: 7rem;
        }
    }
    &__items {
        list-style: none;
        @media only screen and (max-width: $bp-large) {
            display: flex;
        }
        @media only screen and (max-width: $bp-large) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }

    &__item {
        transition: all 0.5s;
    }
    &__item:not(:last-child) {
        margin-bottom: 1.2rem;
    }

    &__link {
        text-decoration: none;
        color: $color-grey-light-2;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 1.5rem 2rem;
        border-radius: 5px;

        &--active {
            background-color: $color-blue;
            color: white;
            font-weight: 600;
            font-family: inherit;
        }
    }
    &__item:hover {
        background-color: $color-blue;
        color: white;
        border-radius: 5px;
    }
    &__text {
        line-height: 1;
        height: 1rem;
        display: block;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }

    &__copyrights {
        color: $color-grey-light-2;
        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }
}
