.line--10 {
    @include lineOfProgress(10%);
}
.line--20 {
    @include lineOfProgress(20%);
}
.line--30 {
    @include lineOfProgress(30%);
}
.line--40 {
    @include lineOfProgress(40%);
}
.line--50 {
    @include lineOfProgress(50%);
}
.line--60 {
    @include lineOfProgress(60%);
}
.line--70 {
    @include lineOfProgress(70%);
}
.line--80 {
    @include lineOfProgress(80%);
}
.line--90 {
    @include lineOfProgress(90%);
}
.line--100 {
    @include lineOfProgress(100%);
}

.heading-2 {
    font-size: 2.5rem;
}
